{
    "base:air": (
        color_raw: (15, 15, 22, 255),
        diffusivity: 0.05,
    ),
    "base:lava": (
        color_raw: (255, 120, 40, 255),
        diffusivity: 0.15,
        transform_cold_mat_name: "base:stone",    // Targets a missing material.
        transform_cold_temp: 800.0,
    ),
}