{
    "base:plant+water=plant+plant": (
        in_a: "base:missing",   // Targets a missing material.
        in_b: "base:water",
        out_a: "base:plant",
        out_b: "base:plant",
        rate: 0.005,
    ),
}